<!--END ABOUT US-->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-lg-5">
        <div class="features-box">
          <h2 style="text-align: center;">¡Descubre EscapeRank!</h2>
          <br>

            <p style="text-align: justify;" >La aplicación que revoluciona la experiencia de los amantes de los escape rooms.</p>
            <p style="text-align: justify;">Con EscapeRank, podrás sumergirte en un emocionante mundo de desafíos, competir con otros equipos y explorar una amplia variedad de salas de escape en todo el país.</p>
            <br>
            <h4>Para los entusiastas de los escape rooms</h4>
            <br>
   <p style="text-align: justify;">EscapeRank ofrece una forma emocionante de descubrir nuevas aventuras y competir con otros equipos.</p>
   <p style="text-align: justify;">Explora salas temáticas, resuelve enigmas desafiantes y demuestra tus habilidades para escalar en el ranking.</p>
   <p style="text-align: justify;">¡Comparte tus experiencias con una comunidad apasionada y conviértete en un referente en el mundo de los escape rooms!</p>

          <a href="/auth/registro" class="btn btn-primary mt-4 waves-effect waves-light">Regístrate<i class="mdi mdi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="features-img features-right text-right">
          <img src="assets/images/web/ranking.png" alt="ranking image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>