<!--START SERVICES-->
<section class="section pt-5" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">¿QUÉ OFRECEMOS?</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center pt-4 font-secondary">Escape Rank es una innovadora aplicación web y móvil diseñada para los amantes de las escape rooms. Nos apasiona la emoción de resolver enigmas y desafiar nuestras habilidades mentales. Con el objetivo de conectar a los equipos de escape rooms de todo el país, creamos esta plataforma única que combina un ranking competitivo con una red social interactiva.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="mdi mdi-trophy"></i>
          <h4 class="pt-3">Ranking de equipos</h4>
          <p class="pt-3 text-muted">Únete a la competencia y demuestra tus habilidades en los escape rooms. Sube en el ranking a medida que superas desafíos y obtén reconocimiento por tus logros.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="feather icon-users"></i>
          <h4 class="pt-3">Interacción social</h4>
          <p class="pt-3 text-muted">Conecta con otros equipos, comparte experiencias, consejos y estrategias. Crea amistades con personas que comparten tu pasión por los escape rooms.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="feather icon-search"></i>
          <h4 class="pt-3">Búsqueda de salas</h4>
          <p class="pt-3 text-muted">Descubre nuevas salas de escape en todo el país. Explora opciones emocionantes y desafiantes para poner a prueba tus habilidades.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="feather icon-bar-chart-2"></i>
          <h4 class="pt-3">Resultados y estadísticas</h4>
          <p class="pt-3 text-muted">Mantente al día con el rendimiento de los equipos más destacados. Obtén información valiosa sobre los tiempos de resolución, el porcentaje de éxito y los mejores puntajes.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="feather icon-user"></i>
          <h4 class="pt-3">Perfil personalizado</h4>
          <p class="pt-3 text-muted">Crea tu perfil único, agrega logros y comparte tus mejores momentos en los escape rooms.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--START SERVICES-->
