<div class="col-12 grid-margin">
    <div class="card">
        <div class="position-relative">
            <figure class="overflow-hidden mb-0 d-flex justify-content-center">
                <img src="https://via.placeholder.com/1148x272" class="rounded-top" alt="profile cover">
            </figure>
            <div
                class="d-flex justify-content-between align-items-center position-absolute top-90 w-100 px-2 px-md-4 mt-n4">
                <div>
                    <img [src]="imageUtils.getImagenUsuario(usuario.perfil!)" [alt]="usuario.perfil!.nombre"
                        [title]="usuario.perfil!.nombre" class="wd-80 ht-80 rounded-circle">
                    <span class="h4 ms-3 text-dark">{{usuario.perfil!.nombre}}</span>
                </div>
                <div class="d-none d-md-block">
                    <button class="btn btn-primary btn-icon-text">
                        <i class="feather icon-edit btn-icon-prepend"></i> Editar perfil
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-3 rounded-bottom">
            <ul class="d-flex align-items-center m-0 p-0">
                <li class="d-flex align-items-center" [routerLink]="['/usuarios', usuario.id]">
                    <i class="feather icon-columns me-1 icon-md" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }"></i>
                    <a class="d-flex nav-link pt-1px d-none d-md-block" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }">Perfil</a>
                </li>
                <li class="ms-3 ps-3 border-start d-flex align-items-center"
                    [routerLink]="['/usuarios', usuario.id, 'amigos']">
                    <i class="feather icon-users me-1 icon-md" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }"></i>
                    <a class="nav-link pt-1px d-none d-md-block" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }">Amigos
                    </a>
                </li>
                <li class="ms-3 ps-3 border-start d-flex align-items-center" [routerLink]="['/equipos']">
                    <i class="feather icon-users me-1 icon-md" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }"></i>
                    <a class="nav-link pt-1px d-none d-md-block" [routerLinkActive]="['text-primary']"
                        [routerLinkActiveOptions]="{ exact: true }">Equipos</a>
                </li>
            </ul>
        </div>
    </div>
</div>