<div class="col-md-12 grid-margin">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center"><i class="mdi mdi-newspaper mdi-36px"></i>
                    <div class="ms-2">
                        <b> {{noticia.titular}}
                        </b>
                        <p class="tx-11 text-muted">{{noticia.fecha |
                            date:'d/M/yyyy,
                            hh:mm:ss'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <img [src]="imageUtils.getImagenNoticia(noticia)" alt="" class="card-img-top">
        <div class="card-body">
            <div>
                <p class=" noticia-texto tx-14"><b>{{noticia.textoCorto}}</b></p>
                <p class="noticia-texto tx-14">{{noticia.textoLargo}}</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex post-actions"><a href="" class="d-flex align-items-center text-muted me-4"><i
                        class="feather icon-heart icon-md"></i>
                    <p class="d-none d-md-block ms-2">Me gusta</p>
                </a><a href="" class="d-flex align-items-center text-muted me-4"><i
                        class="feather icon-message-square icon-md"></i>
                    <p class="d-none d-md-block ms-2">Comentar</p>
                </a><a href="" class="d-flex align-items-center text-muted"><i class="feather icon-share icon-md"></i>
                    <p class="d-none d-md-block ms-2">Compartir</p>
                </a></div>
        </div>
    </div>
</div>