<!--START TESTIMONIAL-->
<section class="section pt-4" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">El Equipo</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center font-secondary pt-4">En EscapeRank, somos un equipo dedicado y entusiasta que se enorgullece de brindar una experiencia inolvidable a todos los que se unen a nuestra comunidad. Estamos listos para llevar los escape rooms a un nuevo nivel y compartir esta pasión con todos aquellos que buscan desafiar su ingenio y disfrutar de momentos emocionantes.</p>
      </div>
    </div>
       <!--<div class="row mt-5">
      <div class="offset-lg-3 col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
            <div class="team-member">
              <img alt="" src="assets/images/team/angel.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Ángel Valera</h4>
          <p class="text-uppercase team-designation">CEO</p>
        </div>
      </div>

      <div class=" col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
           <div class="team-member">
              <img alt="" src="assets/images/team/hector.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Héctor Granja</h4>
          <p class="text-uppercase team-designation">CTO</p>
        </div>
      </div>

     

    </div>-->
  </div>
</section>
<!--END TESTIMONIAL-->

<!--START PROCESS-->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Cómo Funciona</h1>
        <div class="section-title-border mt-3"></div>
        <h2 class="section-subtitle  text-center font-secondary pt-4">Explora</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center process-left-icon-1">
        <i class="pe-7s-angle-right"></i>
      </div>
      <div class="col-lg-6 text-center process-left-icon-2">
        <i class="pe-7s-angle-right"></i>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 plan-line">
        <div class="text-center process-box">
          <i class="feather icon-compass"></i>
          <h4 class="padding-t-15">Encuentra tu escape room</h4>
          <p class="text-muted">Explora nuestra amplia selección de salas de escape temáticas y encuentra la aventura que más te emocione.</p>
        </div>
      </div>
      <div class="col-lg-4 plan-line">
        <div class="text-center process-box">
          <i class="feather icon-calendar"></i>
          <h4 class="padding-t-15">Reserva fácilmente</h4>
          <p class="text-muted">Selecciona la fecha y hora que mejor se adapten a tu disponibilidad y realiza tu reserva en unos pocos clics.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center process-box">
          <i class="feather icon-users"></i>
          <h4 class="padding-t-15">Prepara a tu equipo</h4>
          <p class="text-muted">Reúne a tus amigos, familiares o compañeros de trabajo y prepárate para una experiencia de escape única.</p>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-title-border mt-3"></div>
          <h2 class="section-subtitle  text-center font-secondary pt-4">Juega</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 text-center process-left-icon-1">
          <i class="pe-7s-angle-right"></i>
        </div>
        <div class="col-lg-6 text-center process-left-icon-2">
          <i class="pe-7s-angle-right"></i>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 plan-line">
          <div class="text-center process-box">
            <i class="feather icon-book"></i>
            <h4 class="padding-t-15">Sumérgete en la historia</h4>
            <p class="text-muted">Adéntrate en un mundo lleno de misterio y emoción mientras te sumerges en la trama y la ambientación de la sala.</p>
          </div>
        </div>
        <div class="col-lg-4 plan-line">
          <div class="text-center process-box">
            <i class="mdi mdi-tangram"></i>
            <h4 class="padding-t-15">Resuelve enigmas</h4>
            <p class="text-muted">Trabaja en equipo, utiliza tu ingenio y resuelve desafiantes enigmas y acertijos para avanzar y desbloquear nuevos escenarios.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="text-center process-box">
            <i class="feather icon-map-pin"></i>
            <h4 class="padding-t-15">Encuentra pistas</h4>
            <p class="text-muted">Observa detenidamente, busca pistas ocultas y conecta los puntos para descubrir los secretos que te llevarán a la salida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-title-border mt-3"></div>
          <h2 class="section-subtitle  text-center font-secondary pt-4">Compite</h2>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4 plan-line">
          <div class="text-center process-box">
            <i class="feather icon-award"></i>
            <h4 class="padding-t-15">Celebra tus logros</h4>
            <p class="text-muted"> Comparte tu experiencia en las redes sociales y en nuestra comunidad para mostrar tus habilidades y logros en los escape rooms.</p>
          </div>
        </div>
        <div class="col-lg-4 plan-line">
          <div class="text-center process-box">
            <i class="feather icon-trending-up"></i>
            <h4 class="padding-t-15">Asciende en el ranking</h4>
            <p class="text-muted">Supera a otros jugadores y sube en nuestro ranking para convertirte en el mejor escapista y ganar reconocimiento.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="text-center process-box">
            <i class="feather icon-compass"></i>
            <h4 class="padding-t-15">Descubre nuevas salas</h4>
            <p class="text-muted">Sigue explorando nuevas salas, desafía a tus amigos a superar tus marcas y mantente actualizado sobre las últimas novedades del mundo de los escape rooms.</p>
          </div>
        </div>
      </div>
      <div class="text-center mx-auto">
        <a href="/auth/login" class="btn btn-primary waves-light waves-effect mt-5">ACCEDE <i class="mdi mdi-arrow-right"></i></a>
      </div>
   
  </div>
</section>
<!--END PROCESS-->

<!--START TESTIMONIAL-->
<section class="section" id="testi">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Hablan de Nosotros</h1>
        <div class="section-title-border mt-3"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <img src="assets/images/testimonials/user-2.jpg" alt=""
            class="img-fluid d-block img-thumbnail rounded-circle">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“EscapeRank ha transformado por completo mi experiencia en los escape rooms. Gracias a esta increíble aplicación, puedo encontrar y unirme a equipos de jugadores apasionados en todo el país. La interfaz es intuitiva y fácil de usar, y puedo explorar diferentes salas, consultar las puntuaciones de otros equipos y compartir mis logros en las redes sociales. ¡Es una forma emocionante de competir, conectarse y disfrutar de la emoción de los escape rooms!” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Helena Gómez - <span
              class="text-muted text-capitalize">Alicante</span></h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <img src="assets/images/testimonials/user-1.jpg" alt=""
            class="img-fluid d-block img-thumbnail rounded-circle">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“EscapeRank ha sido una verdadera bendición para mi sala de escape. Desde que me uní a la plataforma, he visto un aumento significativo en la visibilidad y la demanda de mi negocio. La aplicación me ha permitido llegar a un público más amplio y atraer a jugadores apasionados de todo el país. Además, la función de interacción social me ha permitido conectar con los jugadores, recibir comentarios y mejorar constantemente mi sala. Estoy agradecido por esta plataforma innovadora que ha ayudado a impulsar mi negocio de escape room al siguiente nivel” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Miguel Gil - <span
              class="text-muted text-capitalize">Málaga</span></h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <img src="assets/images/testimonials/user-3.jpg" alt=""
            class="img-fluid d-block img-thumbnail rounded-circle">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“No puedo decir suficientes cosas positivas sobre EscapeRank. Como amante de los escape rooms, esta aplicación me ha proporcionado una plataforma perfecta para descubrir nuevas salas y desafiar mis habilidades. Me encanta la funcionalidad de ranking que permite comparar mi desempeño con otros jugadores y me motiva a superar mis propios récords. Además, la comunidad de jugadores es muy activa y amigable, lo que hace que cada experiencia sea aún más divertida y gratificante.” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Christian Pérez - <span
              class="text-muted text-capitalize">Madrid</span></h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END TESTIMONIAL-->

<!--START GET STARTED-->
<section class="section section-lg bg-get-start">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="get-started-title text-white">Juega con Nosotros</h1>
        <div class="section-title-border mt-4 bg-white"></div>
        <p class="section-subtitle font-secondary text-white text-center pt-4">¡Únete a la emoción y descubre un mundo de desafíos y diversión en EscapeRank! Regístrate hoy mismo y sumérgete en la experiencia de los escape rooms, compite con otros jugadores y demuestra tus habilidades. ¡No pierdas la oportunidad de ser parte de una comunidad apasionada de entusiastas de los juegos de escape! Regístrate ahora y desbloquea una nueva aventura.</p>
        <a href="/auth/login" class="btn btn-white waves-effect mt-3 mb-4">Únete <i
            class="mdi mdi-arrow-right"></i> </a>
      </div>
    </div>
  </div>
  <div class="bg-pattern-effect">
    <img src="assets/images/bg-pattern-light.png" alt="">
  </div>
</section>
<!--END GET STARTED-->
