<div class="splide__slide">
    <a href="#" class="mx-3">
        <div class="card card-style me-0 mb-0" data-card-height="100">
            <div class="card-bottom p-2 px-3">
                <h3 class="color-white line-height-s">{{tematica.tipo}}</h3>
                <span class="color-white font-10 opacity-60"><i
                        class="fa fa-map-marker pe-2"></i>{{tematica.numeroSalas}}</span>
            </div>
            <div class="card-overlay bg-gradient"></div>
        </div>
    </a>
</div>