<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Nueva Noticia</h4>
          <p class=“text-muted”>Da de alta noticias relacionadas con tus salas</p>
        </div>
      </div>
    </div>
  </div>
  
  <form [formGroup]="noticiaForm" (ngSubmit)="addNoticia()"novalidate>
    <div class="row">
      <div class="grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" id="promocionada" formControlName="promocionada">
              <label class="form-check-label" for="promocionada">
                  Promocionada
                </label>
              </div>
            <div class="mb-3">
              <label for="exampleInputUsername1" class="form-label">Titular</label>
              <input class="form-control" type="text" placeholder="Titular" ngModel name="titular" formControlName="titular" required/>
              <p class="text-danger mt-1" *ngIf="noticiaForm.get('titular')?.errors?.required">Debes introducir un titular</p>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">Fecha</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" ngModel name="fecha" ngbDatepicker #d="ngbDatepicker" formControlName="fecha" required/>
                    <button class="input-group-text" type="button" (click)="d.toggle()">
                      <i class="feather icon-calendar icon-md text-muted"></i>
                    </button>
                  </div>
                  <p class="text-danger mt-1" *ngIf="noticiaForm.get('fecha')?.errors?.required">Debes introducir una fecha</p>

            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Texto Corto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="textoCorto" required></textarea>
                <p class="text-danger mt-1" *ngIf="noticiaForm.get('textoCorto')?.errors?.required">Debes introducir un texto corto</p>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea2" class="form-label">Texto Largo</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" formControlName="textoLargo" required></textarea>
                <p class="text-danger mt-1" *ngIf="noticiaForm.get('textoLargo')?.errors?.required">Debes introducir un texto largo</p>
              </div>

              <div class="mb-3">
                <label for="Enlace" class="form-label">Enlace</label>
                <input class="form-control" type="text" placeholder="Enlace" ngModel name="enlace" formControlName="enlace"/>
              </div>

              <div class="mb-3">
                <label class="form-label">Imagen</label>
                <dropzone
                [config]="config"
                [message]="'Pulsa o arrastra una imagen'"
                (drop)="onFileDropped($event)"
                (sending)="onSending($event)"
                (addedFile)="onAddedFile($event)"
                (error)="onUploadError($event)"
                (success)="onUploadSuccess($event)"
                (removeFile)="onRemoveFile($event)"
                #dz></dropzone>
               <button class="btn btn-secondary mt-2 d-block ms-auto" type="button" (click)="resetDropzone1Uploads()">Reset</button>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <button type="submit" class="btn btn-primary me-2">Enviar</button>
    <button class="btn btn-secondary">Cancelar</button>
  </form>
