<!--START FOOTER-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mt-4">
        <h4>ESCAPERANK</h4>
        <div class="text-muted mt-4">
          <ul class="list-unstyled footer-list">
            <li><a href="javascript: void(0);">Inicio</a></li>
            <li><a href="javascript: void(0);">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 mt-4">
        <h4>Information</h4>
        <div class="text-muted mt-4">
          <ul class="list-unstyled footer-list">
            <li><a href="javascript: void(0);">Términos & Condiciones</a></li>
            <li><a href="javascript: void(0);">Sobre Nosotros</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 mt-4">
        <h4>Soporte</h4>
        <div class="text-muted mt-4">
          <ul class="list-unstyled footer-list">
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--END FOOTER-->

<!--START FOOTER ALTER-->
<div class="footer-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-start pull-none ">
          <p class="copy-rights text-muted">{{ cur_year }} © EscapeRank</p>
        </div>
    
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
