<div class="align-self-center me-auto">
    <strong class="text-uppercase opacity-60 font-12">Salas</strong>
    <h3 class="mt-2 mb-3">Popular ahora</h3>
</div>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <owl-carousel-o [options]="basicExampleOptions">
                <ng-template carouselSlide *ngFor="let sala of salas">
                    <a [routerLink]="['/salas', sala.id]">
                        <img [src]="getImagenSala(sala)" [alt]="sala.nombre" [title]="sala.nombre">
                        <h6 class="mt-2">{{sala.nombre}}</h6>
                        <p class="mt-1 text-primary">{{sala.companyia?.ciudad?.nombre}}</p>
                    </a>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="d-flex px-3 mb-n3">
    <div class="align-self-center">
        <h4 class="mb-3">Categoría</h4>
    </div>
</div>

<div class="splide double-slider slider-no-dots visible-slider" id="double-slider-1a">
    <div class="splide__track">
        <div class="splide__list">
            <app-categoria-card class="col" [categoria]="categoria"
                *ngFor="let categoria of categorias"></app-categoria-card>
        </div>
    </div>
</div>

<div class="d-flex px-3 mb-2">
    <div class="align-self-center">
        <h4 class="mb-3">Temática</h4>
    </div>
</div>

<div class="splide double-slider slider-no-dots visible-slider" id="double-slider-1a">
    <div class="splide__track">
        <div class="splide__list">
            <app-tematica-card class="col" [tematica]="tematica" *ngFor="let tematica of tematicas"></app-tematica-card>
        </div>
    </div>
</div>

<div class="d-flex px-3 mb-2">
    <div class="align-self-center">
        <h4 class="mb-3">Público</h4>
    </div>
</div>

<div class="splide double-slider slider-no-dots visible-slider" id="double-slider-1a">
    <div class="splide__track">
        <div class="splide__list">
            <app-publico-card class="col" [publico]="publico" *ngFor="let publico of publicos"></app-publico-card>
        </div>
    </div>
</div>

<div class="d-flex px-3">
    <div class="align-self-center">
        <h4 class="mb-3">Dificultad</h4>
    </div>
</div>

<div class="splide double-slider slider-no-dots visible-slider" id="double-slider-1a">
    <div class="splide__track">
        <div class="splide__list">
            <app-dificultad-card class="col" [dificultad]="dificultad"
                *ngFor="let dificultad of dificultades"></app-dificultad-card>
        </div>
    </div>
</div>