<div *ngIf="isLoading" class="spinner-wrapper">
    <div class="spinner">Cargando...</div>
  </div>
  
  <div *ngIf="!isLoading">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <h4 class="card-title">Companyias</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Web</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let companyia of companyias">

                  <td>{{ companyia.nombre }}</td>
                  <td>{{ companyia.telefono }}</td>
                  <td>{{ companyia.web }}</td>
                  <td><button  class="btn btn-primary" (click)="openModalValidar(companyia)">Validar</button></td>
                  <td><button class="btn btn-primary" (click)="openModalRechazar(companyia)">Rechazar</button>
  
                  </td>
                </tr>
  
              </tbody>
            </table>
          </div>
          <ng-template #noCompanyias>
            <p class="mt-3">No hay compañías a validar.</p>
          </ng-template>
        </div>
      </div>
    </div>
  
    <ng-template #myModalValidar let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Validar companyia</h5>
            <button type="button" class="btn-close" (click)="modal.close()"
                aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <p>¿Desea validar la companyia {{selectedCompanyiaId}}?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('')">Volver</button>
            <button type="button" class="btn btn-primary"
                (click)="validarCompanyia(selectedCompanyia)">Validar</button>
        </div>
    </ng-template>

    <ng-template #myModalRechazar let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rechazar compañía</h5>
            <button type="button" class="btn-close" (click)="modal.close()"
                aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <p>¿Desea rechazar la companyia {{selectedCompanyiaId}}?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('')">Volver</button>
            <button type="button" class="btn btn-primary"
                (click)="rechazarCompanyia(selectedCompanyia)">Rechazar</button>
        </div>
    </ng-template>
  

  </div>