.imagen-sala {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: top;
}

mgl-map {
  height: 400px;
}

.icono-seguir {
  position: absolute;
  right: 0;
  padding-right: 4px;
}

.btn-reservar {
  width: 20%;
}
