<!--START SERVICES-->
<section class="section pt-5" id="propietario">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">¿TIENES UNA SALA DE ESCAPE ROOM?</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center pt-4 font-secondary">¡Escape Rank es la solución perfecta para ti! Nuestra plataforma te permite dar visibilidad a tu sala y llegar a un público más amplio de entusiastas de los escape rooms. Aprovecha esta oportunidad para aumentar tu base de clientes y destacar entre la competencia. Regístrate en Escape Rank y disfruta de los siguientes beneficios:</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-diamond text-primary"></i>
          <h4 class="pt-3">Promoción gratuita</h4>
          <p class="pt-3 text-muted">Obtén exposición gratuita para tu sala de escape en nuestra plataforma y alcanza a miles de jugadores ansiosos por descubrir nuevas aventuras.
            Reseñas y recomendaciones: Los jugadores pueden dejar reseñas y recomendaciones sobre tu sala, lo que aumentará tu reputación y generará confianza en los futuros jugadores.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-display2 text-primary"></i>
          <h4 class="pt-3">Mayor ocupación</h4>
          <p class="pt-3 text-muted">Atrae a más equipos a tu sala y mejora la ocupación a lo largo de todo el año. Con Escape Rank, puedes aumentar la demanda y garantizar que tu sala esté en constante funcionamiento</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-piggy text-primary"></i>
          <h4 class="pt-3">Reseñas y recomendaciones</h4>
          <p class="pt-3 text-muted">Los jugadores pueden dejar reseñas y recomendaciones sobre tu sala, lo que aumentará tu reputación y generará confianza en los futuros jugadores.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--START SERVICES-->
