<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nueva Partida</h4>
        <p class=“text-muted”>Da de alta una nueva partida y valídala con el QR proporcionado por el gamemaster</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label">Equipo</label>
            <ng-select [items]="equipos" [searchable]="false" bindLabel="nombre" [(ngModel)]="equipoSeleccionado"
            placeholder="Seleccione nombre de equipo que ha jugado la partida">
          </ng-select>

        </div>
        <div class="row">
          <div class="col mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" [max]="fechaMaxima" [(ngModel)]="fechaPartida">
          </div>
          <div class="col mb-3">
            <label class="form-label">Hora</label>
            <input type="time" class="form-control" [(ngModel)]="horaPartida">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Duración Partida</label>
          <div class="row">
            <div class="col">
              <label class="form-label">{{ minutosPartida | number }} minutos</label>
              <input type="range" class="form-range" min="0" max="180" step="1" [(ngModel)]="minutosPartida">
            </div>
            <div class="col">
              <label class="form-label">{{ segundosPartida | number }} segundos</label>
              <input type="range" class="form-range" min="0" max="59" step="1" [(ngModel)]="segundosPartida">
            </div>
          </div>
        </div>
        <div class="row text-center" *ngIf="resultadoValidacionQR">
          <div class="results">
            <div>
              <strong>Tu partida ha sido correctamente validada</strong>
            </div>
          </div>
          </div>
          <div class="webcam-image" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl" />
          </div>
        <div class="row" *ngIf="showWebcam">
          <webcam [height]="500" [width]="700" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
          [switchCamera]="nextWebcamObservable"></webcam>
          </div>
          <div class="row" *ngIf="showWebcam"> 
          <button class="btn btn-primary col-sm-4" (click)="takeSnapshot()">Hacer Foto</button>
          <button class="btn btn-secondary col-sm-4" (click)="changeWebCame(true)">Cambiar Cámara</button>
          <button class="btn btn-secondary col-sm-4" (click)="onOffWebCame()">Cancelar</button>
        </div>
        <div class="row mt-4">
        <button *ngIf="!showWebcam" class="btn btn-primary mb-3 text" (click)="hacerFoto($event)">Hacer foto <i class="mdi mdi-camera mdi-18px align-middle"></i></button>

        <button class="btn btn-primary mb-3" [disabled]="!camposCompletos"  (click)="validar()">Validar partida</button>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalFoto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Hacer foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="isCameraExist; else noCameraExist">
      <div style="text-align:center">
          <div class="btn-group">
            
          </div> <br />
          <webcam [height]="500" [width]="700" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
      </div>
  
      <div *ngIf="errors.length > 0">
          <h4>Error Messages:</h4>
          <ul *ngFor="let error of errors">
              <li>{{ error | json }}</li>
          </ul>
      </div>
  </div>
  
  <ng-template #noCameraExist>
      Camera device not available
  </ng-template>
  </div>
  <div class="modal-footer">
   
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #modalQR let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Leer QR</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="scanner-shell" [hidden]="!hasDevices">
      <header>
        <div class="mb-3">
          <select class="form-select" [value]="deviceSelected" (change)="onDeviceSelectChange($event)">
            <option value="">No Device Selected</option>
            <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</option>
          </select>
        </div>
      </header>
      <zxing-scanner [torch]="torchEnabled" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)"
        (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder"
        (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)"
        (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    </div>
    <ng-container *ngIf="hasPermission === undefined">
      <h2>Esperando a los permisos.</h2>
    </ng-container>
    <ng-container *ngIf="hasPermission === false">
      <h2>Has denegado los permisos de acceso a la cámara. No podemos escanear el QR</h2>
    </ng-container>
    <ng-container *ngIf="hasDevices === undefined">
      <h2>No se ha encontrado ninguna cámara.</h2>
      <blockquote>
        Puede ser debido a la falta de permisos.
      </blockquote>
    </ng-container>
    <ng-container *ngIf="hasDevices === false">
      <h2>No se ha encontrado ninguna Cámara</h2>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
