<button class="btn btn-primary" (click)="openModal()">Leer QR</button>

<ng-template #myModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Leer QR</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="scanner-shell" [hidden]="!hasDevices">
      <header>
        <div class="mb-3">
          <select class="form-select" [value]="deviceSelected" (change)="onDeviceSelectChange($event)">
            <option value="">No Device Selected</option>
            <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</option>
          </select>
        </div>
      </header>
      <zxing-scanner [torch]="torchEnabled" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)" (scanSuccess)="onCodeResult($event)"
        [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
        (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    </div>
    <ng-container *ngIf="hasPermission === undefined">
      <h2>Esperando a los permisos.</h2>
    </ng-container>
    <ng-container *ngIf="hasPermission === false">
      <h2>Has denegado los permisos de acceso a la cámara. No podemos escanear el QR 😪</h2>
    </ng-container>
    <ng-container *ngIf="hasDevices === undefined">
      <h2>No se ha encontrado ninguna cámara.</h2> 
      <blockquote>
        Puede ser debido a la falta de permisos.
      </blockquote>
      </ng-container> 
      <ng-container *ngIf="hasDevices === false">

<h2>No se ha encontrado ninguna Cámara</h2>

</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
<div class="row">
<div class="results">
  <div>
    <small>Result</small>
    <strong >{{ qrResultString }}</strong>
  </div>
</div>
</div>

    
  
  
  
  