<div class="qrcodeImage" #parent>
    <p> Texto</p>
    <qrcode
    
      [qrdata]="'la-busqueda-id-dasdasdddas'"
      [allowEmptyString]="true"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [errorCorrectionLevel]="'M'"
      [imageSrc]="'./assets/icons/logo.png'"
      [imageHeight]="75"
      [imageWidth]="89"
      [margin]="4"
      [scale]="1"
      [width]="300"
      [title]="'la-busqueda-id-dasdasdddas'"
    ></qrcode>
  </div>
  <div class="downloadButton">
    <button
      class="btn btn-primary"
      
      (click)="saveAsImage(parent)"
    >
      Descargar QR
    </button>
  </div>