<div class="row">
    <app-usuarios-navbar [usuario]="usuario" [modo]="'perfil'"></app-usuarios-navbar>
</div>
<div class="row profile-body">
    <!-- left wrapper start -->
    <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
        <div class="card rounded">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="card-title mb-0">Sobre mí</h6>
                </div>
                <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Edad</label>
                    <p class="text-muted">{{ edad }}</p>
                </div>
                <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Fecha nacimiento</label>
                    <p class="text-muted">{{usuario.perfil!.nacido | date:'d/M/yyyy'}}</p>
                </div>
                <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Partidas ganadas</label>
                    <p class="text-muted">{{usuario.perfil!.partidasGanadas}}</p>
                </div>
                <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Partidas perdidas</label>
                    <p class="text-muted">{{usuario.perfil!.partidasPerdidas}}</p>
                </div>
                <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Total partidas</label>
                    <p class="text-muted">{{usuario.perfil!.numeroPartidas}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- left wrapper end -->
    <!-- middle wrapper start -->
    <div class="col-md-8 col-xl-6 middle-wrapper">
        <div class="card rounded mb-3">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h6 class="card-title m-auto">Partidas</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <app-noticias-card [noticia]="noticia" *ngFor="let noticia of noticias"></app-noticias-card>
        </div>
    </div>
    <!-- middle wrapper end -->
    <!-- right wrapper start -->
    <div class="d-none d-xl-block col-xl-3">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card rounded">
                    <div *ngIf="amigosPendientes.length > 0; else noAmigosPendientesTemplate">
                        <ng-container *ngTemplateOutlet="amigosPendientesTemplate"></ng-container>
                      </div>
                    <ng-template #amigosPendientesTemplate>
                        <div class="card-body" *ngFor="let solicitud of amigosPendientes;">
                            <h6 class="card-title">Solicitudes pendientes</h6>
                            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                <div class="d-flex align-items-center">
                                    <img class="img-xs rounded-circle"
                                        [src]="imageUtils.getImagenUsuario(solicitud.perfil!)" alt="Avatar"
                                        [title]="solicitud.perfil?.nombre">
                                    <div class="ms-2">
                                        <p>{{solicitud.perfil?.nombre}}</p>
                                        <p class="tx-11 text-muted">X amigos en común</p>
                                    </div>
                                </div>
                                <button class="btn btn-icon" (click)="aceptarSolicitudAmistad(solicitud.id!)"><i
                                        class="feather icon-user-plus" ngbTooltip="Aceptar"></i></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #noAmigosPendientesTemplate>
                        <div class="card-body">
                            <h6 class="card-title">Solicitudes pendientes</h6>
                            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                <div class="d-flex align-items-center hover-pointer">
                                    <div class="ms-2">
                                        <p>No hay solicitudes pendientes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-md-12 grid-margin">
                <div class="card rounded">
                    <div class="card-body">
                        <h6 class="card-title">Amigos</h6>
                        <div class="row ms-0 me-0">
                            <ng-container *ngFor="let amigo of amigos;">
                                <a class="col-md-4 ps-1 pe-1">
                                    <figure class="mb-2">
                                        <img class="img-fluid rounded"
                                            [src]="imageUtils.getImagenUsuario(amigo.perfil!)" alt="Avatar">
                                    </figure>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- right wrapper end -->
</div>